<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Societa' Catering</title>
<link rel="stylesheet" th:href="@{/css/my-style.css}" />
<link rel="stylesheet" th:href="@{/css/home.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div id="text-section">
		<div id="admin">
			<div id="bottoni">
				<div class="button">
					<a th:href="@{/chefs}">View Chefs</a>
				</div>
				<div class="button">
					<a th:href="@{/buffets}">View Buffets</a>
				</div>
			</div>
			<div class="text-item">
				<h3>ADMIN MODE</h3>
				<h2>
					<a th:href="@{/admin/chefForm}">Add chef</a>
				</h2>
				<h2>
					<a th:href="@{/admin/piattoForm}">Add dish</a>
				</h2>
				<h2>
					<a th:href="@{/admin/chefs/addBuffet}">Add buffet</a>
				</h2>
				<h2>
					<a th:href="@{/admin/editBuffet}">Modify buffet</a>
				</h2>
				<h2>
					<a th:href="@{/admin/removeBuffet}">Remove buffet</a>
				</h2>
			</div>
		</div>

	</div>
</body>

</html>