<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>  	
		<meta charset="ISO-8859-1" />
		<title>Chef Details</title>
		<link rel="stylesheet" th:href="@{/css/my-style.css}"/>
		<link rel="stylesheet" th:href="@{/css/descrizioni.css}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head> 

	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div id="sfondo-chef"></div>
		<div id="section">
			<div class="section-item">
				<div><strong>Name: </strong>
				<span th:text="${chef.nome}">Mario</span></div>
				<div><strong>Surname: </strong>
				<span  th:text="${chef.cognome}">Rossi</span></div>
				<div><strong>Nationality: </strong>
				<span  th:text="${chef.nazionalita}">Italiano</span></div>
			</div>
			<div class="section-item" id="button">
				<p><a th:href="@{'/chef' + '/' + ${chef.id} + '/' + 
						'buffets'}" href="#">View his buffets</a>
				</p>
			</div>
		</div>		
	</body>

</html>